/*
*
**
*****
**************
*******************************************************************************
RESETS & FIXES
*******************************************************************************
*******************************************************************************
***
*/

* {
  box-sizing: border-box;
}

// set visible content wrapper widths for screen sizes
#wrapper {
  width: 100%; //expand to screen width
  margin: 0 auto;
}

li {
  list-style-type: none; // remove bullets from lists
}

a {
  text-decoration: none; // remove link underline
}

/*
*
**
*****
**************
*******************************************************************************
LAYOUT
*******************************************************************************
*******************************************************************************
*
*/

// Entire visible page wrapped in here
.wrapper {
  //expand to viewport
  width: 100%;
  height: 100%;
}

// Contains header and navigation, TopBar if you will
.main-header {
  position: relative;
  margin: 0 auto;
  width: 100%;
  top: 0; // position at top of page
}

// Contains content
.content {
  position: relative;
  margin: 0 auto;
  width: 100%;
}

// Footer. Se obvio.
footer {
  margin: 0 auto;
  font-size: 0.75em;
  text-align: center;
  padding: 5px 0px 5px;
  bottom: 0;
  width: 100%;
}


/***************************************************
HEADING
***************************************************/

/*remove body colored space above header (better way to do this?)*/
.title {
  margin-bottom: 8px;
  position: relative;
  z-index: 20;
}

.main-logo {
  display: inline-block;
  float: left;
  margin: 0;

  h2 {
    display: none;
  }
}

.foobar {
  display: inline-block;
  float: right;
  margin: 17px 15px 17px 2px;
  height: 28px;
  width: 32px;
  padding: 10px;
}



/***************************************************
NAVIGATION
***************************************************/

nav {
  position: relative;
  z-index: 5;
  height: 0;
  text-align: center;
  overflow: hidden;

  ul {
    margin: 0;
    padding: 0;
  }

  h3 {
    padding: 4px;
    margin-bottom: 4px;
  }

  a {
    padding: 0px 14px;
  }

}

.sub-main-nav{
  height: 0;
  overflow: hidden;
}

.sub-main-nav li{
  padding: 3px;
}



/***************************************************
CONTENT SPACE
***************************************************/



/***************************************************
FOOTER
***************************************************/







/*
*
**
*****
**************
*******************************************************************************
ELEMENTS COLORS & STYLING
*******************************************************************************
*******************************************************************************
*
*/

/*use 'light touch' colourset*/
/*colors based on https://color.adobe.com/Phaedra-color-theme-1764754/
#FC6037 #F5FFC0 #E1F0B6 #CEF0BA #00A388*/



/*site body = light oliv*/
body {
  background-color: #00190A;
  color: #777;
}
/*slightly darker than body, neutral header*/
header {
  background: #B5DEAC;
  border-color: #E1F0B6;
}
.main-header {
  background-color: #CEF0BA;
}
/*slightly darker than body, neutral header*/
footer {
  background: #B5DEAC;
  color: #006E26
}
/*Slight colour emphasis on headings and shadow to give page texture*/
h1 {
  color: #006E26;
  text-shadow: 2px 2px #F5FFC0;
}
header h2 {
  color: #006E26;
  text-shadow: 1px 1px #F5FFC0;
}
/*remove link blu color*/
a {
  color: #777;
}
.title {
  border-style: solid;
  border-color: #006E26;
  border-width: 0 0 2px;
  background-color: #B5DEAC;
}
.foobar {
  border-style: none;
  border-radius: 2px;
  background-color: #CEF0BA;
  background-image: url("../img/hamburgerIcon.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  vertical-align: center;
}
.sub-main-nav li{
  border-style: solid;
  border-color: #006E26;
  border-width: 0 0 2px;
}
.sub-main-nav:last-child {
  border-style: none;
}
nav {
  h3 {
    background-color: #B5DEAC;
    border-style: solid;
    border-radius: 3px;
    border-color: #006E26;
    border-width: 0 0 3px;
  }
  a {
    color: #006E26;
    text-shadow: 1px 1px #F5FFC0;
  }
}
/*Colour standout for selected page*/
nav a:active, body.home a.home, body.about a.about, body.contact a.contact{
  font-weight: 700;
  text-shadow: 1px 1px #F5FFC0;
}
/*Colour standout + extra text shadow height for hover over nav link*/
nav a:hover {
  color: #FC6037;
  text-shadow: 2px 2px #F5FFC0;
}

/*
*
**
*****
**************
*******************************************************************************
TYPOGRAPHY
*******************************************************************************
*******************************************************************************
*
*/

h1 {
  font-family: 'Oleo Script', cursive;
  margin: 15px 2px 15px 15px;
  font-size: 2.5em;
  font-weight: normal;
  line-height: 0.8em;
}

h2 {
  font-family: 'Oleo Script';
  font-size: 1.2em;
  margin: 5px 0;
  font-weight: normal;
}

h3 {
  font-family: 'Signika';
  font-size: 1.4em;
  font-weight: normal;
  margin: 0;
}

h4 {
  font-family: 'Signika';
  font-size: 1.2em;
  font-weight: normal;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}


/*
*
**
*****
**************
*******************************************************************************
MISCELANEOUS
*******************************************************************************
*******************************************************************************
*
*/
/*
****************************************************
CLEARFIX nicolas gallagher
****************************************************
*/

.group:before,
.group:after {
    content: " ";
    display: table;
}

.group:after {
    clear: both;
}

/*
*
**
*****
**************
*******************************************************************************
RECYCLE BIN
*******************************************************************************
*******************************************************************************
*
*/

// /***************************************************
// PAGE: PORTFOLIO
// ***************************************************/
//
//
//
// .gallery {
//   margin: 0;
//   padding: 0;
//   list-style: none;
//   /*clear: both;*/
// }
//
// .gallery li {
//   /*float: left;*/
//   width: 90%;
//   margin: 4%;
//   background-color: #B5DEAC;
//   color: #003D33;
//   border-radius: 10%;
// }
//
// .gallery li a p {
//   margin: 0;
//   padding: 5%;
//   font-size: 0.75em;
//   color: #003D33;
// }
//
//
//
// /***************************************************
// PAGE: ABOUT
// ***************************************************/
//
// /*!!!ISSUE profile photo has no nav margin*/
// .profile-photo {
//   clear: both;
//   display: block;
//   max-width: 200px;
//   margin: 40px auto 30px;
//   border-radius: 3%;
// }
//
//
//
// /***************************************************
// PAGE: CONTACT
// ***************************************************/
//
// .contact-info {
//   padding: 0;
//   margin: 0;
//   font-size: 0.9em;
// }
//
// .contact-info a {
//   display: block;
//   min-height: 20px;
//   background-repeat: no-repeat;
//   background-size: 20px 20px;
//   padding: 0 0 0 30px;
//   margin: 0 0 10px;
// }
//
// .contact-info li.phone a{
//   background-image: url('../img/phone.png');
// }
// .contact-info li.mail a{
//   background-image: url('../img/mail.png');
// }
// .contact-info li.twitter a{
//   background-image: url('../img/twitter.png');
// }
