
/************Reset**************/
* {
	box-sizing: border-box;
}
html, body, div, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, ol, ul, li, form, fieldset, legend, label, table, header, footer, nav, section {
	margin: 0;
	padding: 0;
	border: 0;
}
ol, ul {
	list-style: none;
}
header, footer, nav, section, article, hgroup, figure {
	display: block;
}
legend {
	display: none;
}
a {
  text-decoration: none;
	color: #111
}
/************End Reset**************/

/************Global**************/
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.rotate180 {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
/************End Global**************/


/************Structure**************/
body {
	min-height: 100%;
	background: #111;
}

header {
	z-index: 30;
	margin: -70% 0 0;
}

	#peteFace {
		min-height: 22em;
		background: url(../img/meetPete.png), url(../img/meetPeteDarkShadow1.png);
		background-repeat: no-repeat;
		background-size: 90%, 100%;
		background-position: 50% 50%, 50% 46%;
		z-index: 20;
	}


	.message {
		margin: 1em 0.3em;
		padding: 0.5em;
		width: 92%;
		border-radius: 0.3em;
		box-shadow: 0.2em 0.2em #333;
		color: #222;
	}
		.pete {
			margin-left: -100%;
			background: #ddd;
		}

		.user {
			margin-left: 120%; /*1.4em*/
			background: #eee;
			text-align: center;
		}

		.short {
			margin-top: 0;
			width: 25%;
		}






/************End Structure**************/
